{% extends "layout.html" %}
{% block content %}
<!-- <script type="text/javascript" src="{{ url_for('static', filename = 'view.js') }}"></script>   -->

<body style="background-color:rgb(245, 245, 235);"></body>
<b>
    <div class = "container">
      Events
    </div>
    <div>
        <!-- placename -->
        Place event occuring at: {{event[0]}}
    </div>
    <div>
        <!-- eventname -->
        Event name: {{event[1]}}
    </div>
    <div>
        <!-- description -->
        Description:
        <div>
            {{event[2]}}
        </div>
    </div>
    <div>
        <!-- numberattendees -->
        Number of attendees: {{event[3]}}
    </div>
    <div>
        <!-- address -->
        Address: {{event[4]}}
    </div>
    <div>
        <!-- date -->
        Date? {{event[5]}}
    </div>
    <div>
        <!-- recur -->
        Recur? {{event[6]}}
    </div>
    <div>
        <!-- allday -->
        All day? {{event[7]}}
    </div>
    <div>
        <!-- starttime -->
        Start time: {{event[9]}}
    </div>
    <div>
        <!-- endtime -->
        End time: {{event[10]}}
    </div>




</b>

{% endblock %}