{% extends "layout.html" %}

{% block content %}

<body></body>

<div class = "container">
    <div class = 'row'>
        <div class="col-md-6">
            <div>Name of place</div>
            <input id="name" placeholder="Name" class="form-control">
            <div id="nameInvalid" class = "invalid">
            </div>

            <form method="POST" action="/add">
                <p>
                    <div>
                        UserID: {{userID}}
                    </div>
                    
                    <div>
                        Name: <input type="text" name="name"> 
                    </div>
                    <div>
                        Wait time: <input type="number" name="waitTime"> 
                    </div>
                    <div>
                        Cover: <input type="number" name="cover"> 
                    </div>
                    <div>
                        Min spend: <input type="number" name="minSpend"> 
                    </div>
                    <div>
                        Capacity: <input type="number" name="capacity"> 

                    </div>
                    <div>
                        Age Range: <input type="number" name="ageMin"> <input type="number" name="ageMax"> 
                    </div>
                    <div>
                        Group size : <input type="number" name="group"> 
                    </div>
                    <input type="submit" value="Add">
                </p>
            </form>


             

        </div>
    </div>
</div>

{% endblock %}