{% extends "layout.html" %}

{% block content %}

<body></body>

<div class = "container">
    <div class = 'row'>
        <div class="col-md-6">
            <div>Name of place</div>
            <input id="name" placeholder="Name" class="form-control">
            <div id="nameInvalid" class = "invalid">
            </div>

            <form method="POST" action="/add">
                <p>
                    <div>
                        <!-- UserID: {{userID}} -->
                        UserID: <input type="text" name="user"> 
                    </div>
                    
                    <div>           
                                  
                        
                        
                        Name: <select name="name">
                        {% for place in data %}  
                            <option value={{place}}>{{place}}</option>
                        {% endfor %}  
                        </select>
                        <!-- drop down  -->
                    </div>
                    <div>
                        Wait time: <input type="number" name="waitTime"> 
                    </div>
                    <div>
                        Cover: <input type="number" name="cover"> 
                    </div>
                    <div>
                        Min spend: <input type="number" name="minSpend"> 
                    </div>
                    <div>
                        Capacity: <input type="number" name="capacity"> 

                    </div>
                    <div>
                        Age Range: <input type="number" name="ageMin"><input type="number" name="ageMax"> 
                        <!-- drop down  -->
                    </div>
                    <div>
                        Group size : <input type="number" name="group"> 
                    </div>
                    <input type="submit" value="Add">
                </p>
            </form>


             

        </div>
    </div>
</div>

{% endblock %}