{% extends "layout.html" %}

{% block content %}
<!-- <script type="text/javascript" src="{{ url_for('static', filename = 'view.js') }}"></script>   -->

<body style="background-color:rgb(245, 245, 235);"></body>

<b>
    <div class = "container">

        <div class = "row">
            <div>
                {{data[0]}}
            </div>
            <div>
                <a href=/view/{{data[0]}}>{{data[1]}}</a>
            </div>
            <div>
                <img src={{data[2]}} width = 90%>
            </div>
            <div>
                {{data[3]}}
            </div>
            <div>
                {{data[4]}}
            </div>
            <div>
                {{data[5]}}
            </div>

        </div>
</b>

{% endblock %}