{% extends "layout.html" %}

{% block content %}
<!-- <script type="text/javascript" src="{{ url_for('static', filename = 'view.js') }}"></script>   -->

<body style="background-color:rgb(245, 245, 235);"></body>

<b>
    <div class = "container">

        <div class = "row">
            {% for placeID, name, picture, address, neighborhood, closestSubway in data %}
                <div>
                    <a href=/view/{{placeID}}>{{name}}</a>
                </div>
                <div>
                    <img src={{picture}} width = 90%>
                </div>
                <div>
                    {{address}}
                </div>
                <div>
                    {{neighborhood}}
                </div>
                <div>
                    {{closestSubway}}
                </div>

            {% endfor %}

        </div>
</b>

{% endblock %}