{% extends "layout.html" %}

{% block content %}


<body style="background-color:rgb(245, 245, 235);"></body>

<div class = "container">
    <div class = "row" >
        <div class = "col-md-12 header">
            These are the top picks!
        </div>

        <div>
            {% for placeID, name, picture, address, neighborhood, closestSubway in data %}
                <div>
                    <a href=/view/{{placeID}}>{{name}}</a>
                </div>
                <div>
                    <img src={{picture}} width = 30%>
                </div>
                <div>
                    {{address}}
                </div>
                <div>
                    {{neighborhood}}
                </div>
                <div>
                    {{closestSubway}}
                </div>
                <br>


            {% endfor %}
        </div>

        <div>
            Hours:
            {% for day, start, end in hoursList}
            <div>
                {{day}}: {{start}} - {{start}}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}