{% extends "layout.html" %}

{% block content %}


<body style="background-color:rgb(245, 245, 235);"></body>

<div class = "container">
    <div class = "row" >
        <div>
            <strong>
                Scroll through the options of places to view or create a form!
            </strong>
        </div>

        <br>

        <div>
            {% for placeID, name, picture, address, neighborhood, closestSubway in data %}
                <div>
                    <a href=/view/{{placeID}}>{{name}}</a>
                </div>
                <div>
                    <img src={{picture}} width = 30%>
                </div>
                <div>
                    {{address}}
                </div>
                <div>
                    {{neighborhood}}
                </div>
                <div>
                    {{closestSubway}}
                </div>
                <br>


            {% endfor %}
        </div>

        
    </div>
</div>

{% endblock %}