{% extends "layout.html" %}

{% block content %}


<body style="background-color:rgb(245, 245, 235);"></body>

<div class = "container">
    <div class = "row" >
        <div class = "col-md-12 header">
            New York City Bars and Clubs!
            hello
        </div>

        <div>
            {% for name, placeID in data %}
                <div>
                    <a href=/view/{{placeID}}>{{name}}</a>
                </div>
            {% endfor %}
          </div>
    </div>
</div>

{% endblock %}